html, body { margin: 0; padding: 0}

.viewport-height {height: 100vh;}
.contain-height {height: 100%;}
.contain-width {width: 100%; margin: 0; padding:0;}
.document-preview {background-color: lightgray;}
.no.padding-right { padding-right: 0; }
.no.padding-left { padding-left: 0; }

.application-container {overflow: hidden;}